*{
	font-family: 'Lato';
	font-size: 14px;
}

.postCard{
	display: flex;
	flex-flow: row wrap;

	height: 28em;
	width: 45em;
	background-color: #FFF6DC; /*color original*/
	border-radius: 5px;
}

.photoArea{
	display: flex;
	flex-flow: column wrap;
}
.image{
	height: 23em;
	margin: 1.5em;
	margin-bottom: .5em;
	border-radius: 5px;
}
.location{
	margin-left: 1.5em;
}

.data{
	display: flex;
	flex-flow: column wrap;
	
	padding:1.5em;
}

.btn-send{
	margin-top: 5em;
}
